<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/default-layout}">

<head>
    <title>XP보이스</title>
</head>

<body layout:fragment="content">

<div id="warpper">
    <div class="sub-box bg04">
        <div class="sub-box mask">
            <div class="sub-box_tit">
                <h3>
                    커뮤니티
                </h3>
                <span>XP보이스 이용자들만 이용할 수 있는 방송자료실입니다.</span>
            </div>
        </div>
    </div>
        <div class="board_sec">
            <div class="board-tit">
                <h4>방송자료실
                    <span th:if="${not #lists.isEmpty(result.dtoList)}">
                        <span class="fs16" id="aptCd" th:if="${result.dtoList[0].aptName} != null">
                            <b th:text="'('+${result.dtoList[0].aptName}+')'"></b>
                        </span>
                    </span>
                </h4>

                <div class="button__box mgLAuto">
                    <button type="button" class="button__Big button__darkNavy button w80p" id="dangicode_btn">
                        단지코드
                    </button>
                    <div class="board-search">
                        <div class="selectbox">
                            <select id="search_option" name="search_option">
                                <option value="title">제목</option>
                                <option value="writer">작성자</option>
                            </select>
                        </div>
                        <input type="search" class="board-search__input" title="검색입력" placeholder="검색어를 입력하세요" id="searchVal">
                        <button class="board-search__btn" type="button" title="검색" id="total-search-btn">검색</button>
                    </div>
                </div>
            </div>
            <div class="board-list_m">
                <ul th:if="${not #strings.isEmpty(result)}"> 
                    <li class="bold-row" th:class="${dto.titleType != null } ? 'bold-row' : ''" 
                                    th:each="dto : ${result.dtoList}"
                                    th:onclick="password_confirm([[${dto.id}]],[[${dto.titleType}]])"
                                    style="cursor: pointer" title="상세페이지">
                        <a>
                            <div class="audio_m_board">
                                <span class="board_name">
                                    <span class="link" th:if="${dto.titleType != null}">[[${dto.titleType}]] [[${dto.title}]]</span>
                                    <span class="link" th:if="${dto.titleType == null}">[[${dto.title}]]</span>
                                </span>
                                <span class="date">
                                    <span>[[${dto.createdAt}]]</span>
                                </span>
                                <span class="cell_num">
                                    [[${dto.writer}]]
                                </span>
                            </div>
                            <span th:if="${dto.titleType == null}" class="mp3_label">
                                mp3
                            </span>
                        </a>
                    </li>
                </ul>
                <ul th:if="${#strings.isEmpty(result)}">
                    <li class="h60p">
                        <div class="audio_m_board h100">
                            <a class="h100 t_center">
                                <span class="board_name f-center">
                                    
                                    단지코드를 입력해주세요.
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        <div class="page-box" th:if="${not #strings.isEmpty(result)}">
            <div class="page-box_list">
                <div class="prev_btn" th:if="${result.prev}">
                    <a th:href="@{/voice-board/index-mob(page= ${result.start -1},
                                                                            type=${pageRequestDTO.type} ,
                                                                            keyword = ${pageRequestDTO.keyword},
                                                                            aptCd = ${param.aptCd},
                                                                            title=${param.title},
                                                                            writer=${param.writer} ) }"
                        tabindex="-1">
                        <span class="caption">이전</span>
                    </a>
                </div>
        
                <div class="page_num">
                    <div th:each="page: ${result.pageList}">
                        <a th:class=" 'page-item ' + ${result.page == page?'active':''} "
                            th:href="@{/voice-board/index-mob(page = ${page} ,
                                                                        type=${pageRequestDTO.type} ,
                                                                        keyword = ${pageRequestDTO.keyword},
                                                                        aptCd = ${param.aptCd},
                                                                        title=${param.title},
                                                                        writer=${param.writer}  )}">[[${page}]]</a>
                    </div>
                </div>
                <div class="next_btn" th:if="${result.next}">
                    <a th:href="@{/voice-board/index-mob(page= ${result.end + 1},
                                                                            type=${pageRequestDTO.type} ,
                                                                            keyword = ${pageRequestDTO.keyword},
                                                                            aptCd = ${param.aptCd},
                                                                            title=${param.title},
                                                                            writer=${param.writer} ) }"><span
                            class="caption">다음</span></a>
                </div>
            </div>
            <button class="button button__Big button__Navy writeBtn" id="btn-write-manager"
                sec:authorize="hasAuthority('ADMIN')">공지사항 등록</button>
        </div>
        </div>
        
        
    </div>
    <div class="layer-bg" id="dang_layer" style="display: none;">
        <div class="layer-cont w200p">
            <button type="button" class="close_btn" style="cursor: pointer">
                닫기
            </button>
            <div class="layer-tit">
                <h4>단지코드</h4>
            </div>
            <div class="layer-insert">
                <input type="text" id="apt_cd" name="apt_cd" placeholder="단지코드를 입력해주세요.">
            </div>
    
            <div class="button__box">
                <button class="button button__Basic button__Navy w50" id="dang-search">확인</button>
                <button class="button button__Basic button__White w50" id="dang-cancel">취소</button>
            </div>
        </div>
    </div>
    
    <div class="layer-bg" id="pw_layer" style="display: none;">
        <div class="layer-cont w280p">
            <button type="button" class="close_btn" style="cursor: pointer">
                닫기
            </button>
            <div class="layer-tit">
                <h4>비밀번호 입력</h4>
            </div>
            <div class="layer-insert">
                <input type="hidden" id="id">
                <input type="password" id="password" placeholder="등록한 비밀번호를 입력해주세요.">
            </div>
    
            <div class="button__box">
                <button class="button button__Basic button__Navy w50" id="btn-confirm">확인</button>
                <button class="button button__Basic button__White w50" id="close_btn">취소</button>
            </div>
        </div>
    </div>
    
    <div class="layer-bg" id="player-layer" style="display: none;">
        <div class="layer-cont w400p">
            <button type="button" class="close_btn" onclick="closeAudioPopup()" style="cursor: pointer">
                닫기
            </button>
            <div class="layer-tit">
                <h4 id="mp3_Title"></h4>
            </div>
            <audio controls class="w100 mgT12" id="audioPlayer">
                <source src="" type="audio/mpeg">
            </audio>
    
            <div class="button__box">
                <button class="button button__Big button__White  w100" onclick="closeAudioPopup()">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        // URL 파라미터 가져오기
        var url = new URL(window.location.href);
        var params = new URLSearchParams(url.search);
        // 파라미터 값 가져오기
        var aptCd = params.get("aptCd"); // "John"

        $("#dangicode_btn").click(function () {
            $("#dang_layer").show();
        });

        $("#btn-write-manager").click(function () {
            window.location.href = "/voice-board/voice-manager";
        });

        $(".close_btn").click(function () {
            $(".layer-bg").hide();
        });

        $("#close_btn").click(function () {
            $(".layer-bg").hide();
        });


        $("#dang-cancel").click(function () {
            $(".layer-bg").hide();
        });


        $("#dang-search").click(function () {
            search_apt_cd = $('#apt_cd').val();
            location.href = "/voice-board/index-mob?aptCd=" + $('#apt_cd').val();
        });

        $('#apt_cd').keyup(function (e) {
            if (e.keyCode == 13) { // 엔터 키를 눌렀을 때
                search_apt_cd = $('#apt_cd').val();
                location.href = "/voice-board/index-mob?aptCd=" + $('#apt_cd').val();
            }
        });

        $('#searchVal').keyup(function (e) {
            if (e.keyCode == 13) { // 엔터 키를 눌렀을 때
                var param = '';
                if ($('#search_option').val() == "title") {
                    param = '&title=' + $("#searchVal").val();
                } else if ($('#search_option').val() == "writer") {
                    param = '&writer=' + $("#searchVal").val();
                }
                location.href = "/voice-board/index-mob?aptCd=" + aptCd + param;
            }
        });

        $('#total-search-btn').click(function (e) {
            var param = '';
            if ($('#search_option').val() == "title") {
                param = '&title=' + $("#searchVal").val();
            } else if ($('#search_option').val() == "writer") {
                param = '&writer=' + $("#searchVal").val();
            }
            location.href = "/voice-board/index-mob?aptCd=" + aptCd + param;
        })


        $("#btn-confirm").click(function () {
            var id = $("#id").val();
            var password = $("#password").val(); // 비밀번호 입력란의 값 가져오기

            // POST 요청을 보낼 데이터 객체 생성
            var requestData = JSON.stringify({
                password: password
            });
            $.ajax({
                url: "/voice-board/" + id,
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: requestData,
                success: function (result) {
                    if (result.status == 'SUCCESS') {
                        if (result.data == null) {
                            alert("등록된 mp3파일이 없습니다.");
                            return;
                        }
                        openAudioPopup(result.data.fullPath);
                        $("#pw_layer").hide();
                    } else {
                        alert(result.message);
                        $("#password").val("");
                        $("#password").focus();
                        return;
                    }
                },
            });
        });

    });

    function password_confirm(id, titleType) {
        if (titleType != null) {
            detail_page(id);
        } else {
            $("#id").val(id);
            $("#password").val("");
            $("#pw_layer").show();
        }
    }

    // 이미지 클릭 시 레이어 팝업 열고 오디오 재생
    function openAudioPopup(audioSrc) {
        document.getElementById('mp3_Title').innerText = "음성 샘플";
        var audioElement = document.getElementById('audioPlayer'); // 오디오 엘리먼트 선택
        audioElement.src = audioSrc; // 오디오 소스 설정
        audioElement.load(); // 오디오 다시 로드
        audioElement.play(); // 오디오 재생
        $("#player-layer").show(); // 레이어 팝업 열기
    }

    // 레이어 팝업 닫기 및 오디오 정지
    function closeAudioPopup() {
        var audioElement = document.getElementById('audioPlayer'); // 오디오 엘리먼트 선택
        audioElement.pause(); // 오디오 일시 정지
        $("#player-layer").hide(); // 레이어 팝업 닫기
    }

    function detail_page(id) {
        window.location.href = "/voice-board/manager/" + id
    }



</script>
</body>

</html>