<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/default-layout}">

<head>
    <title>공지사항&게시판</title>

<body layout:fragment="content">

    <div id="warpper">

        <div class="sub-box bg04">
            <div class="sub-box mask">
                <div class="sub-box_tit">
                    <h3>
                        커뮤니티
                    </h3>
                    <span>공지사항 및 다양한 방송자료들이 있습니다.</span>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="board_sec">
                <div class="boardView-box">
                    <div class="board-tit">
                        <h4>글쓰기</h4>
                    </div>
                    <div class="board-table mb20 w100">
                        <table class="board-table_detail" id="data-table">
                            <tbody>
                                <tr>
                                    <td class="t_head">
                                        상태
                                    </td>
                                    <td>
                                        <span class="m_tit">작성자</span>
                                        <div class="selectbox">
                                            <select id="titleType" name="titleType">
                                                <option value="공지사항">공지사항</option>
                                                <option value="업데이트">업데이트</option>
                                            </select>
                                            <label for="titleType"><span>공지사항</span></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t_head">
                                        제목
                                    </td>
                                    <td>
                                        <span class="m_tit">제목</span>
                                        <input type="hidden" id="id" name="id">
                                        <input type="text" id="title" name="title" placeholder="제목을 입력해주세요">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t_head">
                                        내용
                                    </td>
                                    <td>
                                        <span class="m_tit">내용</span>
                                        <textarea class="qa_input" placeholder="내용을 입력해주세요" id="content"
                                            name="content" onkeypress="enter_line(event,this)"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t_head">
                                        첨부파일
                                    </td>
                                    <td>
                                        <div class="filebox">
                                            <ul class="filebox_list file_list">
                                            </ul>
                                            <form id="uploadForm" name="uploadForm" method="post"
                                                enctype="multipart/form-data" onsubmit="return false;">
                                            </form>
                                            <label for="file">파일찾기</label>
                                            <input type="file" id="file" class="file-upload_file" name="uploadFiles"
                                                onchange="addFile(this)">

                                            <button type="button" class="button__Big button__gray_line button w140p"
                                                onclick="open_confirmLayer()" style="display:none" id="btn-img-confirm">
                                                첨부파일 확인
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="button__box mgT28 pdL20 pdR20">
                        <button type="button" class="button__Big button__gray_line button w160p"
                            onclick="window.history.back()">
                            취소
                        </button>
                        <button type="button" class="button__Big button__Navy button w160p" id="saveBtn">
                            작성완료
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="layer-bg" style="display:none" id="confirm_layer" name="confirm_layer">
            <div class="layer-cont">
                <button type="button" class="close_btn" name="close_btn" style="cursor: pointer">
                    닫기
                </button>
                <div class="layer-tit">
                    <h4>첨부 확인</h4>
                </div>

                <div class="file_view">
                </div>

                <div class="button__box">
                    <button class="button button__Basic button__White w100" name="close_btn">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var fileNo = 0;
        var filesArr = new Array();
        $(document).ready(function () {
            var url = new URL(window.location.href);
            var params = new URLSearchParams(url.search);
            // 파라미터 값 가져오기
            var type = params.get("type");
            var id = params.get("id");
            if (type == 'UPDATE') {
                $.ajax({
                    url: "/voice-board/manager/notice/" + id,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    success: function (result) {
                        $('#id').val(result.id)
                        $('#titleType').val(result.titleType)
                        $('#title').val(result.title)
                        $('#content').val(result.content.replaceAll('<br>', '\n'));
                        $('#btn-img-confirm').css('display', 'block');
                    },
                    error: function (e) {
                        console.error(e);
                    }
                });
            }
            $("#saveBtn").on("click", function () {
                var currentRow = $('#data-table');
                var rowData = {};
                var id = currentRow.find("input[name='id']").val();
                $('#data-table input,#data-table select,#data-table textarea').each(function () {
                    var name = $(this).attr('name'); // input 요소의 name 속성
                    var value = $(this).val(); // input 요소의 value 속성
                    if (name) {
                        rowData[name] = value;
                    }
                });
                var jsonData = JSON.stringify(rowData);
                var url = "/voice-board/manager";
                var api_type = "POST";
                if (type == 'UPDATE') {
                    url = "/voice-board/manager/" + id;
                    api_type = "PATCH";
                }
                $.ajax({
                    url: url,
                    type: api_type,
                    dataType: "json",
                    data: jsonData,
                    async: false,
                    contentType: "application/json; charset=UTF-8",
                    success: function (result) {
                        alert("저장되었습니다.");
                        if (type == 'UPDATE') {
                            file_upload(id)
                        } else {
                            file_upload(result.data.id)
                        }
                        if (currentOS != 'web') {
                            window.location.href = "/voice-board/index-mob";
                        } else {
                            window.location.href = "/voice-board/index";
                        }
                    },
                    error: function (e) {
                        console.error(e);
                        alert("저장실패하였습니다. 관리자에게 문의바랍니다.");
                    }
                });
            });

            $('button[name="close_btn"]').click(function () {
                $('.layer-bg').css('display', 'none');
            })

        });
        function file_upload(id) {
            var filteredFilesArr = filesArr.filter(function (file) {
                return file.is_delete !== true;
            });
            var form = document.querySelector("form");
            var formData = new FormData(form);
            for (var i = 0; i < filteredFilesArr.length; i++) {
                // 삭제되지 않은 파일만 폼데이터에 담기
                formData.append("uploadFiles", filteredFilesArr[i]);
            }
            formData.append("parentId", id);
            formData.append("type", "ADMIN_VOICE_BOARD");
            // FormData의 key 확인
            $.ajax({
                url: "/file/upload",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                async: false,
                success: function (result) {
                    alert("총" + filteredFilesArr.length + "개 첨부파일 등록이 완료되었습니다.");
                },
                error: function (e) {
                    alert("첨부파일 등록중 에러가발생하였습니다. 관리자에게 문의하세요");
                },
                beforeSend: function (e) {
                }
            });
        }

        function open_confirmLayer() {
            var id = $('#id').val();
            var rowData = {};
            var fileViewDiv = $(".file_view");
            fileViewDiv.empty();
            rowData.boardFileStatus = 'ADMIN_VOICE_BOARD';
            var jsonData = JSON.stringify(rowData);
            $('#confirm_layer').css('display', 'flex');
            $.ajax({
                url: "/file/" + id + "?boardFileStatus=ADMIN_VOICE_BOARD",
                method: "GET",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    result.forEach(function (imagePath) {
                        var container = $("<div>"); // 이미지와 관련된 엘리먼트를 감싸는 div 엘리먼트 생성
                        container.addClass("image-container"); // 필요에 따라 클래스를 추가할 수 있습니다.

                        var imgElement = $("<img>");
                        imgElement.attr("src", imagePath.fullPath);
                        container.append(imgElement);

                        var inputElement = $("<input>");
                        inputElement.attr("type", "hidden");
                        inputElement.attr("id", "imageId"); // id 설정
                        inputElement.val(imagePath.fileId); // 값을 설정
                        container.append(inputElement);

                        var aElement = $("<a>");
                        aElement.attr("href", "#");
                        aElement.text("삭제");
                        aElement.addClass("del_btn");
                        aElement.on("click", function () {
                            delete_img(imagePath.fileId);
                            // 클릭 시 이미지 ID 알림
                        });
                        container.append(aElement);

                        fileViewDiv.append(container); // container를 fileViewDiv에 추가
                    });
                },
                error: function (e) {
                    console.error(e);
                }
            });
        }

        function delete_img(fileId) {
            var fileViewDiv = $(".file_view");
            var containerToRemove = fileViewDiv.find("div.image-container input#imageId[value='" + fileId + "']").closest("div.image-container");
            $.ajax({
                url: "/file/remove/" + fileId,
                type: "DELETE",
                dataType: "json",
                success: function (result) {
                    alert("삭제되었습니다.");
                    containerToRemove.remove();
                },
                error: function (e) {
                    alert("첨부파일 등록중 에러가발생하였습니다. 관리자에게 문의하세요");
                },
                beforeSend: function (e) {
                }
            });
        }
    </script>
</body>

</html>