<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default-layout}">

<head>
    <title>XP보이스-배너관리</title>
</head>

<body layout:fragment="content">
    
<div id="warpper" class="adminVer">
	<div class="cont">
        <div class="admin_sec">
            <div class="admin-tit">
                <h4>회원관리</h4>
                <div class="button__box mgLAuto">
                    <button type="button" class="button__Big button__Navy button w120p" id="id_add">  
                        아이디 추가
                    </button>
                </div>
            </div>
            <div class="admin-table mb20 w100">
                <table class="admin-table_list">
                    <colgroup>
                        <col width="210">
                        <col width="210">
                        <col width="*">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="t_head">
                                아이디
                            </td>
                            <td class="t_head">
                                권한 설정
                            </td>
                            <td class="t_head">
                                설치업체
                            </td>
                        </tr>
                        <tr th:each="dto : ${result.dtoList}" th:onclick="detail_page([[${dto.id}]])" style="cursor: pointer" title="상세페이지">
                            <td>
                                [[${dto.loginId}]]
                            </td>
                            <td>
                                [[${dto.role}]]
                            </td>
                            <td >
                                [[${dto.installCompany}]]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="page-box">
            <div class="page-box_list">
                <div class="prev_btn" th:if="${result.prev}">
                    <a th:href="@{/admin/login-info(page= ${result.start -1},
                                                                        type=${pageRequestDTO.type} ,
                                                                        keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">
                        <span class="caption">이전</span>
                    </a>
                </div>
        
                <div class="page_num">
                    <div th:each="page: ${result.pageList}">
                        <a th:class=" 'page-item ' + ${result.page == page?'active':''} " th:href="@{/admin/login-info(page = ${page} ,
                                                                    type=${pageRequestDTO.type} ,
                                                                    keyword = ${pageRequestDTO.keyword}  )}">[[${page}]]</a>
                    </div>
                </div>
                <div class="next_btn" th:if="${result.next}">
                    <a th:href="@{/admin/login-info(page= ${result.end + 1},
                                                                        type=${pageRequestDTO.type} ,
                                                                        keyword = ${pageRequestDTO.keyword} ) }"><span
                            class="caption">다음</span></a>
                </div>
            </div>
        </div>
        </div>
        
    </div>
    <div class="layer-bg" style="display: none;">
        <div class="layer-cont audioType">
            <button type="button" class="close_btn" style="cursor: pointer">
                닫기
            </button>
            <div class="layer-tit">
                <h4>아이디 추가 및 권한설정</h4>
            </div>
            <div class="layer-insert">
                <table class="pop-table">
                    <tbody>
                        <tr>
                            <td class="t_head">아이디</td>
                            <td>
                                <input type="text" value="" id="loginId" name="loginId" readonly>
                                <input type="hidden" value="" id="id" name="id">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">비밀번호</td>
                            <td>
                            <button class="button button__Big button__darkNavy w50" id="btn_pw_new">비밀번호 초기화</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">권한설정</td>
                            <td>
                                <div class="radio-box mgB4">
                                    <input type="radio" id="auth1" name="roleStatus" value="ADMIN">
                                    <label for="auth1">
                                        <span></span>관리자 권한
                                    </label>
                                </div>
                                <div class="radio-box">
                                    <input type="radio" id="auth2" name="roleStatus" value="INSTALL" checked>
                                    <label for="auth2">
                                        <span></span>설치단지현황 권한
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">업체</td>
                            <td>
                                <input type="text" placeholder="업체를 입력해주세요." id="installCompany" name="installCompany">
                            </td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
    
            <div class="button__box">
                <button class="button button__Big button__Navy w50" id="saveBtn">저장</button>
                <button class="button button__Big button__White w50" id="closeBtn">닫기</button>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $(".logininfo-tab").addClass("active");
        $(".admin-tab").addClass("active");
        $("#admin_sub").css('display', 'flex');
        $(".close_btn").click(function () {
            $(".layer-bg").hide();
        });
        $("#closeBtn").click(function () {
            $(".layer-bg").hide();
        });
        $("#id_add").click(function () {
            if ('[[${result.totalElement}]]' > 30) {
                alert("샘플이 최대갯수로 등록되어있습니다.\n추가등록 하시려면 기존 샘플을 제거후 등록해주세요.");
                return;
            }
            $("#id").val("");
            $("#installCompany").val("");
            $("#role").val(""); 
            $.ajax({
                url: "/admin/login-info/last-user-id",
                type: "GET",
                success: function (result) {
                    $("#loginId").val(result.data);
                },
                error: function (e) {
                },
            });
            $("#mod").val("NEW");
            $(".layer-bg").show();
        });

        $("#btn_pw_new").click(function () {
            var id = $('#id').val();
            $.ajax({
                url: "/admin/login-info/password-reset/" + id,
                type: "POST",
                success: function (result) {
                    alert("비밀번호가 초기화되었습니다.");
                },
                error: function (e) {
                    alert("비밀번호 초기화에 실패하였습니다.");
                },
            });
        });
        $("#saveBtn").on("click", function () {
            var id = $('#id').val();
            // 이미지 파일 확장자 검사
            var currentRow = $('.pop-table');
            var rowData = {};

            var selectedRole = $('input[name="roleStatus"]:checked').val();
            $('.pop-table input,.pop-table select,.pop-table textarea radio').each(function () {
                var name = $(this).attr('name'); // input 요소의 name 속성
                var value = $(this).val(); // input 요소의 value 속성
                if (name) {
                    rowData[name] = value;
                }
                rowData["roleStatus"] = selectedRole;
            });
            var url = '/admin/login-info/add';

            if (id != '') {
                url = '/admin/login-info/role/' + id;
            }
            var jsonData = JSON.stringify(rowData);
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: jsonData,
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    if (result.status == 'SUCCESS') {
                        alert("저장이 완료되었습니다.");
                        $(".layer-bg").hide();
                        location.reload();
                    } else {
                        alert(result.message);
                    }
                },
                error: function (e) {
                    console.error(e);
                    alert("저장실패하였습니다. 관리자에게 문의바랍니다.");
                    $(".layer-bg").hide();
                    location.reload();
                }
            });
        });
    });
    function detail_page(id) {
        $("#mod").val("UPDATE");
        $.ajax({
            url: "/admin/login-info/detail/" + id, // 서버에서 데이터 가져오는 엔드포인트 URL
            type: "GET",
            dataType: "json",
            success: function (result) {
                $("#id").val(result.data.id);
                $("#loginId").val(result.data.loginId);
                $("#installCompany").val(result.data.installCompany);

                var role = result.data.role;
                if (role === "ADMIN") {
                    $("#auth1").prop("checked", true);
                } else if (role === "INSTALL") {
                    $("#auth2").prop("checked", true);
                }
            },
            error: function (e) {
                console.error("데이터 가져오기 실패", e);
                alert("데이터를 가져오는 중 오류가 발생했습니다. 관리자에게 문의하세요.");
            },
        });

        $(".layer-bg").show();
    }

</script>
</body>
</html>