<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<head>
    <title>상담신청현황 상세</title>
</head>

<body layout:fragment="content">

<div id="warpper" class="adminVer">
    <div class="cont">
        <div class="admin_sec">
            <div class="admin-tit">
                <h4>상세정보</h4>
            </div>
            <div class="admin-table mb20 w100">
                <table class="admin-table_detail" id="data-table">
                    <colgroup>
                        <col width="112">
                        <col width="*">
                        <col width="112">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="t_head">
                            신청일
                        </td>
                        <td colspan="3">
                            <input type="hidden" name="id" th:value="${result.id}">
                            <span class="m_tit">신청일</span>
                            <span id="applyDate" name="applyDate">[[${result.applyDate}]]</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="t_head">
                            설치업체
                        </td>
                        <td>
                            <span class="m_tit">설치업체</span>
                            <div class="selectbox">
                                <select id="installCompany" name="installCompany">
                                    
                                </select>
                            </div>
                        </td>
                        <td class="t_head">
                            지역
                        </td>
                        <td>
                            <span class="m_tit">지역</span>
                            <div class="selectbox">
                                <select id="regionKind" name="regionKind">
                                    <option sec:authorize="hasAuthority('INSTALL_SUDO') or hasAuthority('ADMIN')"
                                            th:selected="${#strings.equals(result.regionKind, '수도권')}">수도권
                                    </option>
                                    <option sec:authorize="hasAuthority('INSTALL_CHUNGCHEONG') or hasAuthority('ADMIN')"
                                            th:selected="${#strings.equals(result.regionKind, '충청도')}">충청도
                                    </option>
                                    <option sec:authorize="hasAuthority('INSTALL_GANGWON') or hasAuthority('ADMIN')"
                                            th:selected="${#strings.equals(result.regionKind, '강원도')}">강원도
                                    </option>
                                    <option sec:authorize="hasAuthority('INSTALL_JEONBUK') or hasAuthority('ADMIN')"
                                            th:selected="${#strings.equals(result.regionKind, '전북')}">전북
                                    </option>
                                    <option sec:authorize="hasAuthority('INSTALL_JEONNAM') or hasAuthority('ADMIN')"
                                            th:selected="${#strings.equals(result.regionKind, '전남')}">전남
                                    </option>
                                    <option sec:authorize="hasAuthority('INSTALL_GYEONGBUK') or hasAuthority('ADMIN')"
                                            th:selected="${#strings.equals(result.regionKind, '경북')}">경북
                                    </option>
                                    <option sec:authorize="hasAuthority('INSTALL_GYEONGNAM') or hasAuthority('ADMIN')"
                                            th:selected="${#strings.equals(result.regionKind, '경남')}">경남
                                    </option>
                                </select>
                                <label for="data"><span>신청사항</span></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="t_head">
                            단지코드
                        </td>
                        <td>
                            <span class="m_tit">단지코드</span>
                            <input type="text" name="aptCd" th:value="${result.aptCd}" maxlength="5"
                                oninput="validateNumberInput(event)">
                        </td>
                        <td class="t_head">
                            단지명(건물명)
                        </td>
                        <td>
                            <span class="m_tit">단지명<br>(건물명)</span>
                            <input type="text" name="aptName" th:value="${result.aptName}" maxlength="20">
                        </td>
                    </tr>
                    <tr>
                        <td class="t_head">
                            세대수
                        </td>
                        <td>
                            <span class="m_tit">세대수</span>
                            <input type="text" id="householdNum" name="householdNum" th:value="${result.householdNum}" maxlength="6"
                                oninput="formatInput(this)">
                        </td>
                        <td class="t_head">
                            신청수
                        </td>
                        <td>
                            <span class="m_tit">신청수</span>
                            <span>[[${result.aptiBroadcastNum}]]</span>
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="t_head">
                            연락처
                        </td>
                        <td>
                            <span class="m_tit">연락처</span>
                            <input type="tel" name="contact" th:value="${result.contact}" maxlength="13"
                                onkeyup="inputPhoneNumber(event)">
                        </td>
                        <td class="t_head">
                            상담자(확인자)
                        </td>
                        <td>
                            <span class="m_tit">상담자<br>(확인자)</span>
                            <input type="text" name="consultant" th:value="${result.consultant}" maxlength="5">
                        </td>
                    </tr>
                    <tr>

                        <td class="t_head">
                            신청사항
                        </td>
                        <td>
                            <span class="m_tit">신청사항</span>
                            <div class="selectbox">
                                <select id="requestStatus" name="requestStatus">
                                    <option th:selected="${#strings.equals(result.requestStatus, 'XP보이스_신규계약')}">XP보이스_신규계약</option>
                                    <option th:selected="${#strings.equals(result.requestStatus, 'XP보이스_상담진행')}">XP보이스_상담진행</option>
                                    <option th:selected="${#strings.equals(result.requestStatus, 'XP보이스_현장답사')}">XP보이스_현장답사</option>
                                    <option th:selected="${#strings.equals(result.requestStatus, '아파트아이_영업전')}">
                                        아파트아이_영업전
                                    </option>
                                    <option th:selected="${#strings.equals(result.requestStatus, '아파트아이_진행')}">
                                        아파트아이_진행
                                    </option>
                                    <option th:selected="${#strings.equals(result.requestStatus, '아파트아이_완료')}">
                                        아파트아이_완료
                                    </option>
                                    <option th:selected="${#strings.equals(result.requestStatus, '아파트아이_실패')}">
                                        아파트아이_실패
                                    </option>
                                </select>
                                <label for="data"><span>신청사항</span></label>
                            </div>
                        </td>
                        <td class="t_head">
                            이메일
                        </td>
                        <td>
                            <span class="m_tit">이메일</span>
                            <input type="email" name="email" th:value="${result.email}" maxlength="30">
                        </td>
                    </tr>
                    <tr>
                        <td class="t_head h100p">
                            방송장비(정보)
                        </td>
                        <td colspan="3" class="h100p">
                            <span class="m_tit">방송장비<br>(정보)</span>
                            <textarea name="broadcastEquipment" th:value="${result.broadcastEquipment}"
                                    th:text="${result.broadcastEquipment}" maxlength="200"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="t_head">
                            계약정보
                        </td>
                        <td class="sel_input">
                            <span class="m_tit">계약정보</span>
                            <div>
                                <div class="selectbox w100p">
                                    <select id="contractInfo">
                                        <option th:selected="${#strings.equals(result.contractInfo, '약정1년')}">약정1년
                                        </option>
                                        <option th:selected="${#strings.equals(result.contractInfo, '약정2년')}">약정2년
                                        </option>
                                        <option th:selected="${#strings.equals(result.contractInfo, '2년 계약 유지')}">2년 계약
                                            유지
                                        </option>
                                        <option th:selected="${#strings.equals(result.contractInfo, '이벤트')}">이벤트
                                        </option>
                                        <option id="free_opt" name="free_opt"
                                                th:selected="${result.contractInfo != '약정1년' and result.contractInfo != '약정2년' and result.contractInfo != '2년 계약 유지' and result.contractInfo != '이벤트'}"
                                                th:text="직접입력"></option>
                                    </select>
                                </div>
                                <input type="text" name="contractInfo" id="directInput"
                                    th:value="${result.contractInfo}" maxlength="20"
                                >
                            </div>
                        </td>
                        <td class="t_head">
                            계약상태
                        </td>
                        <td>
                            <span class="m_tit">계약상태</span>
                            <div class="selectbox">
                                <select id="contractStatus" name="contractStatus">
                                    <option th:selected="${#strings.equals(result.contractStatus, '상담')}">상담</option>
                                    <option th:selected="${#strings.equals(result.contractStatus, '견적')}">견적</option>
                                    <option th:selected="${#strings.equals(result.contractStatus, '설치')}">설치</option>
                                    <option th:selected="${#strings.equals(result.contractStatus, '계약진행')}">계약진행
                                    </option>
                                    <option th:selected="${#strings.equals(result.contractStatus, '계약완료')}">계약완료
                                    </option>

                                </select>
                                <label for="data"><span>신청사항</span></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="t_head">
                            계약기간
                        </td>
                        <td>
                            <span class="m_tit">계약기간</span>
                            <div class="date-input">
                            <input type="date" name="contractPeriodStartDate" class="w120p"
                                th:value="${result.contractPeriodStartDate}" max="9999-12-31">
                            ~ <input type="date" name="contractPeriodEndDate" class="w120p"
                                th:value="${result.contractPeriodEndDate}" max="9999-12-31">
                            </div>
                        </td>
                        <td class="t_head">
                            매출월
                        </td>
                        <td>
                            <span class="m_tit">매출월</span>
                            <input type="text" name="salesMonth" th:value="${result.salesMonth}" maxlength="6"
                                oninput="validateNumSpecialInput(event)">
                        </td>
                    </tr>
                    <tr>
                        <td class="t_head h100p">
                            비고
                        </td>
                        <td colspan="3" class="h100p">
                            <span class="m_tit">비고</span>
                            <textarea th:value="${result.memo}" th:text="${result.memo}" name="memo"
                                    maxlength="200"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="button__box mgT28 pdL20 pdR20">
                <button type="button" class="button__Big button__Navy button w50" id="saveBtn" name="saveBtn">
                    저장
                </button>
                <button type="button" class="button__Big button__White button w50" onclick="self.close()">
                    닫기
                </button>
            </div>
        </div>

    </div>
</div>
<script>

    $(document).ready(function () {
        $.ajax({
            url: "/admin/voice-info/install-detail/company",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=UTF-8",
            success: function (result) {
                if (result.status === 'SUCCESS') {
                    var data = result.data;
                    var selectBox = document.getElementById("installCompany"); // selectbox의 ID를 지정해야 합니다.
                    var noneOption = document.createElement("option");
                    noneOption.text = "없음";
                    noneOption.value = ""; 
                    selectBox.appendChild(noneOption);
                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement("option");
                        option.text = data[i];
                        option.value = data[i]; // 선택한 값으로 설정 (필요하다면)
                        selectBox.appendChild(option);
                    }
                    var found = false;
                    var installCompany = "[[${ result.installCompany }]]"; 
                    for (var i = 0; i < selectBox.options.length; i++) {
                        if (selectBox.options[i].value === installCompany) {
                            selectBox.options[i].selected = true;
                            found = true;
                            break; 
                        }
                    }
                    if (!found) {
                        selectBox.options[0].selected = true; // "없음"을 선택
                    }


                } else {
                    console.error("데이터를 가져오지 못했습니다.");
                }
            },
            error: function (e) {
                console.error(e);
            }
        });

        if (currentOS == 'web') {
            $(".voice-info-tab").addClass("active");
        } else {
            $(".voice-info-mob-tab").addClass("active");
        }
        $(window).scroll(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 1000) {
                    $(this).addClass("slide");
                    $('.header').addClass("fixed");
                } else if (winTop == 0) {
                    $(this).removeClass("slide");
                    $('.header').removeClass("fixed");
                }
                $(".main_txt").click(function () {

                });
            });

        });
        let inputValue = $("#householdNum").val();
        let numericValue = parseInt(inputValue.replace(/,/g, ''));
        // 숫자를 다시 콤마 형식으로 포맷합니다.
        if (!isNaN(numericValue)) {
            $("#householdNum").val(numericValue.toLocaleString());
        }

        function updateContractInfoInputVisibility() {
            var selectedValue = $("#contractInfo").val();
            if (selectedValue === "직접입력") {
                $("#directInput").show();
            } else {
                $("#directInput").hide();
            }
        }

        // 페이지 로딩 시 실행하여 초기 상태 설정
        updateContractInfoInputVisibility();

        // contractInfo select box 변경 시 이벤트 처리
        $("#contractInfo").on("change", function () {
            updateContractInfoInputVisibility();
            // 직접입력이 아닐 때만 select box 값을 input box에 반영
            if ($(this).val() !== "직접입력") {
                $("#directInput").val($(this).val());
            } else {
                $("#directInput").val('');
            }
        });


        $("#saveBtn").on("click", function () {
            var currentRow = $('#data-table');
            var rowData = {};
            var id = currentRow.find("input[name='id']").val();
            $('#data-table input,#data-table select,#data-table textarea').each(function () {
                var name = $(this).attr('name'); // input 요소의 name 속성
                var value = $(this).val(); // input 요소의 value 속성
                if (name) {
                    rowData[name] = value;
                    if (name == "householdNum") {
                        rowData[name] = parseInt($(this).val().replace(/,/g, ''));
                    }
                }
            });
            var jsonData = JSON.stringify(rowData);
            $.ajax({
                url: "/admin/voice-info/" + id,
                type: "POST",
                dataType: "json",
                data: jsonData,
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    if (result.status == 'SUCCESS') {
                        alert("저장되었습니다.");
                        opener.location.reload();
                    } else {
                        alert(result.message);
                    }
                },
                error: function (e) {
                    console.error(e);
                    alert("저장실패하였습니다. 관리자에게 문의바랍니다.");
                }
            });
        });
    });


</script>
</body>
</html>