<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default-layout}">
<head>
  <title>XP보이스-샘플</title>
</head>
<body layout:fragment="content">
  <div id="warpper">
      <div class="sub-box bg02">
      <div class="sub-box_tit">
        <h3>
          페이지샘플1
        </h3>
        <span>샘플페이지 소개</span>
      </div>
    </div>
    <div class="cont">
      <div class="cont_sec">
        <div class="consult_box slide">
          메인 내용 컨텐츠 부분
        </div>
      </div>
    </div>
  </div>
  <script>
    $(".sampleTab").addClass("active");
  </script>
</body>

</html>