

<div class="header">
  <div class="warp">
    <h1 class="logo">
      <a th:href="@{/}">로고</a>
    </h1>
    <ul class="t_menu">
      <li><a th:href="@{/home/function}" class="menuTab function-tab">주요기능</a></li>
      <li><a th:href="@{/data/sound-track}" class="menuTab soundtrack-tab">음성샘플</a></li>
      <li><a id="subMenu" class="menuTab comunity-tab">커뮤니티</a></li>
      <li><a th:href="@{/main/voice-request}" class="menuTab voice-request-tab">상담신청</a>
      </li>
    </ul>
  </div>
  <div class="sub_menu" id="board_sub">
    <ul class="t_menu">
      <li><a th:href="@{/board/index}" class="menuTab board-tab">게시판</a></li>
      <li><a class="menuTab"
          href="https://prod-xpvoice-s3.s3.ap-northeast-2.amazonaws.com/COMMON/XP%EB%B3%B4%EC%9D%B4%EC%8A%A4+%EB%A7%A4%EB%89%B4%EC%96%BC_v3.pdf"
          target="_blank">사용매뉴얼</a></li>
      <li><a class="menuTab"
          href="https://prod-xpvoice-s3.s3.ap-northeast-2.amazonaws.com/COMMON/Xp%EB%B3%B4%EC%9D%B4%EC%8A%A4_%EC%86%8C%EA%B0%9C%EC%84%9C_v3.pdf"
          target="_blank">제안서</a></li>
          <li><a th:href="@{/voice-board/index}" class="menuTab voiceboard-tab">방송자료실</a></li>
      <!-- 다른 메뉴 항목들도 여기에 추가 -->
    </ul>
  </div>
  <div class="m_menu">
    <h1 class="logo">
      <a th:href="@{/}">로고</a>
    </h1>
    <input type="checkbox" id="hamMenu" class="ham-menu">
    <label for="hamMenu">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <div id="header">
      <ul>
        <li><a th:href="@{/}">홈</a></li>
        <li><a th:href="@{/home/function}" class="menuTab function-tab">주요기능</a></li>
        <li><a th:href="@{/data/sound-track}">음성샘플</a></li>
        <li>
          <input type="checkbox" id="toggle_menu1" class="toggle_menu">
          <label for="toggle_menu1">커뮤니티</label>
          <ul class="toggle_list">
            <li><a th:href="@{/board/index-mob}">게시판</a></li>
            <li><a
                href="https://prod-xpvoice-s3.s3.ap-northeast-2.amazonaws.com/COMMON/XP%EB%B3%B4%EC%9D%B4%EC%8A%A4+%EB%A7%A4%EB%89%B4%EC%96%BC_v3.pdf">사용매뉴얼</a>
            </li>
            <li><a
                href="https://prod-xpvoice-s3.s3.ap-northeast-2.amazonaws.com/COMMON/Xp%EB%B3%B4%EC%9D%B4%EC%8A%A4_%EC%86%8C%EA%B0%9C%EC%84%9C_v3.pdf">제안서</a>
            </li>
            <li><a th:href="@{/voice-board/index-mob}">방송자료실</a></li>
          </ul>
        </li>
        <li><a th:href="@{/main/voice-request}" class="menuTab voice-request-tab">상담신청</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<input type="hidden" id="auth" th:value="${#authentication.authorities}"></input>
<div class="load_bg" style="display: none">
  <span class="loader-1"> </span>
</div>


<script>
  $(document).ready(function () {
    $("#subMenu").hover(function () {
      $(".sub_menu").addClass("on");
    });
  });
</script>