<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/default-layout}">

<head>
    <title>공지사항&게시판</title>

<body layout:fragment="content">

<div id="warpper">
    <div class="sub-box bg04">
        <div class="sub-box mask">
            <div class="sub-box_tit">
                <h3>
                    커뮤니티
                </h3>
                <span>공지사항 및 다양한 방송자료들이 있습니다.</span>
            </div>
        </div>
    </div>
	<div class="cont">
        <div class="board_sec">
            <div class="boardView-box">
                <div class="board-tit">
                    <h4>글쓰기</h4>
                </div>
                <div class="board-table mb20 w100">
                    <table class="board-table_detail" id="data-table">
                        <tbody>
                            <tr>
                                <td class="t_head">
                                    제목<b class="essential_type"></b>
                                </td>
                                <td>
                                    <span class="m_tit">제목<b class="essential_type"></b></span>
                                    <input type="hidden" id="id" name="id">
                                    <input type="text"  id="title" name="title" placeholder="제목을 입력해주세요" maxlength="30">
                                    <input type="hidden" name="attachInstallConfirmCount" id="attachInstallConfirmCount">
                                </td>
                            </tr>
                            <tr>
                                <td class="t_head">
                                    작성자<b class="essential_type"></b>
                                </td>                           
                                <td>
                                    <span class="m_tit">작성자<b class="essential_type"></b></span>
                                    <input type="text"  id="writer" name="writer" placeholder="이름을 입력해주세요" maxlength="20">
                                </td>
                            </tr>
                            <tr>    
                                <td class="t_head">
                                    비밀번호<b class="essential_type"></b>
                                </td>
                                <td>
                                    <span class="m_tit">비밀번호<b class="essential_type"></b></span>
                                    <input type="text"  id="writerPassword" name="writerPassword" placeholder="비밀번호는 숫자 6자로 입력해주세요." maxlength="6" oninput="validateNumberInput(event)">
                                </td>
                            </tr>
                            <tr>
                                <td class="t_head">
                                    단지 연락처<b class="essential_type"></b>
                                </td>
                                <td>
                                    <span class="m_tit">단지 연락처<b class="essential_type"></b></span>
                                    <input type="tel" id="contact" name="contact" placeholder="연락처를 입력해주세요. (-없이)" onkeyup="inputPhoneNumber(event)" maxlength="12">
                                </td>
                            </tr>
                            <tr>
                                <td class="t_head">
                                    내용<b class="essential_type"></b>
                                </td>
                                <td>
                                    <span class="m_tit">내용<b class="essential_type"></b></span>
                                    <textarea class="qa_input" name="content" id="content" placeholder="내용을 입력해주세요" maxlength="500" onkeydown="enter_line(event,this)"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="t_head">
                                    첨부파일
                                </td>
                                <td>
                                    <div class="filebox">
                                        <ul class="filebox_list file_list">
                                        </ul>
                                        <form id="uploadForm" name="uploadForm" method="post" enctype="multipart/form-data" onsubmit="return false;">
                                        </form>
                                        <label for="file">파일찾기</label>
                                        <input type="file" id="file" class="file-upload_file" name="uploadFiles" onchange="addFile(this)" accept=".gif,.png,.jpg">
                                
                                        <button type="button" id="btn_confirm_img"class="button__Big button__gray_line button w140p" onclick="open_confirmLayer()" style="display:none;">
                                            첨부확인
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tit mgB16">
                    <h2 class="fs16 t_left">
                        개인정보 수집 및 이용에 대한 안내
                    </h2>
                </div>
                <div class="txt_noti_box mgB12">
                    <ul>
                        <li>㈜이지스엔터프라이즈에서는 기업/단체 및 개인의 정보 수집 및 이용등 처리에 있어 아래의 사항을 관련법령에 따라 고지하고 안내해드립니다.</li>
                        <li>
                            <b>개인정보 수집, 이용목적</b>
                            <span>1. 개인정보의 수집 이용목적 : 시스템이용문의, 견적문의, 제휴문의, 광고 및 진행</span>
                            <span>2. 수집항목 : 이름, 연락처, 이메일, 단지명(건물명)주소, 세대수, 내용, 첨부파일</span>
                            <span>3. 보유기간 및 이용기간 : 이용목적 달성 및 일정기간 경과 후 파기. 정보제공자의 삭제 요청시 즉시 파기</span>
                            <span>4. 개인정보처리담당 : 전화 02-1566-4963</span>
                        </li>
                    </ul>
                </div>
                <div class="check_txt_btn mgRAuto mgB32">
                    <input type="checkbox" id="is_privacy_agree" name="is_privacy_agree" checked>
                    <label for="is_privacy_agree">
                        <span></span> 개인정보 수집 및 이용 목적에 동의 합니다.
                    </label>
                </div>

                <div class="button__box mgT28 pdL20 pdR20">
                    <button type="button" class="button__Big button__gray_line button w160p" onclick="window.history.back()">  
                        닫기
                    </button>
                    <button type="button" class="button__Big button__Navy button w160p" id="saveBtn">  
                        작성완료
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="layer-bg" style="display:none" id="confirm_layer" name="confirm_layer">
        <div class="layer-cont">
            <button type="button" class="close_btn" name="close_btn" style="cursor: pointer">
                닫기
            </button>
            <div class="layer-tit">
                <h4>첨부파일 확인</h4>
            </div>
    
            <div class="file_view">
            </div>
    
            <div class="button__box">
                <button class="button button__Basic button__White w100" name="close_btn">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>
    var fileNo = 0;
    var filesArr = new Array();
    $(document).ready(function () {
        var url = new URL(window.location.href);
        var params = new URLSearchParams(url.search);
        // 파라미터 값 가져오기
        var type = params.get("type");
        var id = params.get("id");
        var pw = params.get("pw");
        if (type == 'UPDATE') {
            $('#btn_confirm_img').css("display","block");
            $.ajax({
                url: "/board/user/data/" + id,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    $('#id').val(result.id)
                    $('#title').val(result.title)
                    $('#content').val(result.content.replaceAll('<br>', '\n'));
                    $('#contact').val(result.contact)
                    $('#writer').val(result.writer)
                    $('#writerPassword').val(pw);
                    $("#writerPassword").prop("readOnly", true);
                    $("#attachInstallConfirmCount").val(result.boardFileInfoFullPathResponses.length);
                    
                },
                error: function (e) {
                    console.error(e);
                }
            });
        }
        $('button[name="close_btn"]').click(function () {
            $('.layer-bg').css('display', 'none');
        })
        $("#saveBtn").on("click", function () {
            if (!validateForm()) {
                return;
            }
            
            var currentRow = $('#data-table');
            var rowData = {};
            var id = currentRow.find("input[name='id']").val();
            $('#data-table input,#data-table select,#data-table textarea').each(function () {
                var name = $(this).attr('name'); // input 요소의 name 속성
                var value = $(this).val(); // input 요소의 value 속성
                if (name) {
                    rowData[name] = value;
                }
            });
            var jsonData = JSON.stringify(rowData);
            var url = "/board/user";
            var api_type = "POST";
            if (type == 'UPDATE') {
                url = "/board/user/" + id;
                api_type = "PATCH";
            }
            $.ajax({
                url: url,
                type: api_type,
                dataType: "json",
                data: jsonData,
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    if (result.status == 'SUCCESS') {
                        alert("게시판(1:1)문의는 평균 3일 이내에 답변을 드리고 있습니다.\n문의 주신 내용에 대한 답변은[게시판(1: 1)문의]에서\n제목 OR 작성자로 검색하시면 확인하실 수 있습니다");
                        if (type == 'UPDATE') {
                            file_upload(id)
                        } else {
                            file_upload(result.data.id)
                        }
                    } else {
                        alert(result.message);
                    }
                },
                error: function (e) {
                    console.error(e);
                    alert("저장실패하였습니다. 관리자에게 문의바랍니다.");
                }
            });
        });

    $("#file").on('change', function () {
            var fileName = $("#file").val();
            $(".upload-name").val(fileName);
    });

});
    function validateForm() {
        var title = $("#title").val();
        if (title.trim() === "") {
            alert("제목을 입력해주세요.");
            return false;
        }

        var writer = $("#writer").val();
        if (writer.trim() === "") {
            alert("이름을 입력해주세요.");
            return false;
        }

        var writerPassword = $("#writerPassword").val();
        if (writerPassword.trim() === "" || writerPassword.trim().length != 6) {
            alert("비밀번호는 숫자 6자로 입력해주세요.");
            return false;
        }

        var contact = $("#contact").val();
        if (contact.trim() === "") {
            alert("연락처를 입력해주세요.");
            return false;
        }
        if(!telValidator(contact)){
            alert('유효하지 않는 전화번호입니다.');
            return false;
        }


        var content = $("#content").val();
        if (content.trim() === "") {
            alert("내용을 입력해주세요.");
            return false;
        }
        var isPrivacyAgreeCheckbox = $("#is_privacy_agree");
        if (!isPrivacyAgreeCheckbox.is(":checked")) {
            alert("개인정보 수집 및 이용목적에 동의해주시기바랍니다.");
            return false;
        }
        return true;
    }
    
    function file_upload(id) {
        var filteredFilesArr = filesArr.filter(function (file) {
            return file.is_delete !== true;
        });
        if (($('#attachInstallConfirmCount').val() * 1 + filteredFilesArr.length) > 5) {
            alert("이미 5개이상의 첨부파일이 첨부되어있거나, 파일첨부 총 갯수가 5개를 초과합니다.\n첨부파일을 제거하거나, 첨부확인버튼 통해서 확인해주세요");
            return;
        }
        var totalSize = 0;
        for (var i = 0; i < filteredFilesArr.length; i++) {
            totalSize += filteredFilesArr[i].size;
        }

        if (filteredFilesArr.length == 0) {
            if (currentOS != 'web') {
                window.location.href = "/board/index-mob";
            } else {
                window.location.href = "/board/index";
            }
            
            return;
        };

        var form = document.querySelector("form");
        var formData = new FormData(form);
        for (var i = 0; i < filteredFilesArr.length; i++) {
            // 삭제되지 않은 파일만 폼데이터에 담기
            formData.append("uploadFiles", filteredFilesArr[i]);
        }
        formData.append("parentId", id);
        formData.append("type", "BOARD");
        // FormData의 key 확인
        $.ajax({
            url: "/file/upload",
            type: "POST",
            dataType: "json",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (currentOS != 'web') {
                    window.location.href = "/board/index-mob";
                } else {
                    window.location.href = "/board/index";
                }
            },
            error: function (e) {
                alert("첨부파일 등록중 에러가발생하였습니다. 관리자에게 문의하세요");
            },
            beforeSend: function (e) {
            }
        });
    }

    function open_confirmLayer() {
        var id = $('#id').val();
        var rowData = {};
        var fileViewDiv = $(".file_view");
        fileViewDiv.empty();
        rowData.boardFileStatus = 'BOARD';
        var jsonData = JSON.stringify(rowData);
        $('#confirm_layer').css('display', 'flex');
        $.ajax({
            url: "/file/" + id + "?boardFileStatus=BOARD",
            method: "GET",
            dataType: "json",
            contentType: "application/json; charset=UTF-8",
            success: function (result) {
                attachInstallConfirmCount = result.length;
                result.forEach(function (imagePath) {
                    var container = $("<div>"); // 이미지와 관련된 엘리먼트를 감싸는 div 엘리먼트 생성
                    container.addClass("image-container"); // 필요에 따라 클래스를 추가할 수 있습니다.

                    var imgElement = $("<img>");
                    imgElement.attr("src", imagePath.fullPath);
                    container.append(imgElement);

                    var inputElement = $("<input>");
                    inputElement.attr("type", "hidden");
                    inputElement.attr("id", "imageId"); // id 설정
                    inputElement.val(imagePath.fileId); // 값을 설정
                    container.append(inputElement);

                    var aElement = $("<a>");
                    aElement.attr("href", "#");
                    aElement.text("삭제");
                    aElement.addClass("del_btn");
                    aElement.on("click", function () {
                        delete_img(imagePath.fileId);
                        // 클릭 시 이미지 ID 알림
                    });
                    container.append(aElement);

                    fileViewDiv.append(container); // container를 fileViewDiv에 추가
                });
            },
            error: function (e) {
                console.error(e);
            }
        });
    }
    function delete_img(fileId) {
            var fileViewDiv = $(".file_view");
            var containerToRemove = fileViewDiv.find("div.image-container input#imageId[value='" + fileId + "']").closest("div.image-container");
            $.ajax({
                url: "/file/remove/" + fileId,
                type: "DELETE",
                dataType: "json",
                success: function (result) {
                        alert("삭제되었습니다.");
                        containerToRemove.remove();
                },
                error: function (e) {
                    alert("첨부파일 등록중 에러가발생하였습니다. 관리자에게 문의하세요");
                },
                beforeSend: function (e) {
                }
            });
        }
</script>
</body>
</html>