<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default-layout}">

<head>
    <title>XP보이스-배너관리</title>
</head>

<body layout:fragment="content">
<div id="warpper" class="adminVer">
	<div class="cont">
        <div class="admin_sec">
            <div class="admin-tit">
                <h4>배너설정</h4>
            </div>
            <div class="admin-table mb20 w100">
                <table class="admin-table_detail" id="data-table">
                    <tbody>
                        <tr>
                            <td class="t_head">
                                제목
                            </td>
                            <td>
                                <span class="m_tit">제목</span>
                                <input type="text" name="title" id="title" placeholder="배너 제목을 입력해주세요." th:value="${result.title}">
                                <input type="hidden" name="type" id="type" value="배너">
                                <input type="hidden" name="id" id="id" th:value="${result.id}">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                PC용 이미지
                            </td>
                            <td>
                                <span class="m_tit">PC용<br />이미지</span>
                                <div class="filebox">
                                    <input type="text" class="upload-name" id="pc-upload-name" placeholder="파일을 첨부해주세요." th:value = '${result.boardFileInfoFullPathPCResponse.fileName}' readonly>
                                    <label for="pc-file">파일찾기</label>
                                    <input type="file" id="pc-file" onchange="file_validation(this)">
                                    <input type="hidden" id="pcFileId" th:value = '${result.boardFileInfoFullPathPCResponse.fileId}'>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                모바일용 이미지
                            </td>
                            <td>
                                <span class="m_tit">모바일용<br />이미지</span>
                                <div class="filebox">
                                    <input type="text" class="upload-name" id="mob-upload-name" placeholder="파일을 첨부해주세요." th:value = '${result.boardFileInfoFullPathMobileResponse.fileName}' readonly>
                                    <label for="mob-file">파일찾기</label>
                                    <input type="file" id="mob-file" onchange="file_validation(this)">
                                    <input type="hidden" id="mobFileId" th:value = '${result.boardFileInfoFullPathMobileResponse.fileId}'>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                링크(URL)
                            </td>
                            <td>
                                <span class="m_tit">링크(URL)</span>
                                <input type="text" name="url" id="url" placeholder="url을 입력해주세요." th:value="${result.url}">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                게시기간
                            </td>
                            <td>
                                <span class="m_tit">게시기간</span>
                                <div class="date-input">
                                <input type="date" name="startDate" id="startDate" class="w120p" max="9999-12-31" th:value="${result.startDate}">
                                ~ <input type="date" name="endDate" id="endDate" class="w120p" max="9999-12-31" th:value="${result.endDate}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                비고
                            </td>
                            <td>
                                <span class="m_tit">비고</span>
                                <input type="text" name="content" id="content" placeholder="비고를 입력하세요"  th:value="${result.content}">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                미리보기
                            </td>
                            <td class="bannner_td">
                                <span class="m_tit banner">미리보기</span>
                                <div class="banner_preview">
                                    <img th:src="${result.boardFileInfoFullPathPCResponse.fullPath}" id="pc-preview-image">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="button__box mgT28  pdL20 pdR20">
                <button type="button" class="button__Big button__Navy button w120p" id="saveBtn">  
                    저장
                </button>
                <button type="button" class="button__Big button__White button w120p" id="deleteBtn">  
                    삭제
                </button>
            </div>
        </div>
        
    </div>
</div>
<script>
$(document).ready(function () {
    var id = $('#id').val();
    $("#saveBtn").on("click", function () {
        var title = $("#title").val();
        var pcImage = $("#pc-upload-name").val();
        var mobImage = $("#mob-upload-name").val();
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        // 필수 입력값이 비어 있는지 확인하고, 누락된 부분에 대한 안내 메시지를 표시합니다.
        var errorMessages = [];
        if (!title) {
            errorMessages.push("제목을 입력해주세요.");
        }
        if (!pcImage) {
            errorMessages.push("PC용 이미지를 첨부해주세요.");
        }
        if (!mobImage) {
            errorMessages.push("모바일용 이미지를 첨부해주세요.");
        }
        if (!startDate) {
            errorMessages.push("시작일을 선택해주세요.");
        }

        // 누락된 필수 입력값이 있으면 해당 메시지를 표시하고 저장을 중단합니다.
        if (errorMessages.length > 0) {
            alert(errorMessages.join("\n"));
            return;
        }

        // 게시 기간 유효성 검사: 종료일은 시작일 이후여야 합니다.
        if (startDate >= endDate) {
            alert("게시 기간을 올바르게 설정해주세요.");
            return;
        }
        var currentRow = $('#data-table');
        var rowData = {};
        $('#data-table input,#data-table select,#data-table textarea').each(function () {
            var name = $(this).attr('name'); // input 요소의 name 속성
            var value = $(this).val(); // input 요소의 value 속성
            if (name) {
                rowData[name] = value;
            }
        });
        var jsonData = JSON.stringify(rowData);
        $.ajax({
            url: "/admin/promotion/"+id,
            type: "POST",
            dataType: "json",
            async: false,
            data: jsonData,
            contentType: "application/json; charset=UTF-8",
            success: function (result) {
                if (result.status == "SUCCESS") {
                    alert("저장되었습니다.");
                    file_upload(id);
                    if (currentOS != 'web') {
                        location.href = "/admin/promotion/banner-mob?type=배너";
                    } else {
                        location.href = "/admin/promotion/banner?type=배너";
                    }
                } else {
                    alert(result.message);
                }
                
            },
            error: function (e) {
                console.error(e);
                alert("저장실패하였습니다. 관리자에게 문의바랍니다.");
            }
        });
    });

    $("#pc-file").on('change', function () {
        var fileName = $("#pc-file").val();
        $("#pc-upload-name").val(fileName);
    });

    $("#mob-file").on('change', function () {
        var fileName = $("#mob-file").val();
        $("#mob-upload-name").val(fileName);
    });

    $('#deleteBtn').on('click',function(){
        if(confirm("삭제하시겠습니까?")){
            $.ajax({
                url: "/admin/promotion/"+ id,
                type: "DELETE",
                async: false,
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    alert("삭제되었습니다.");
                    if (currentOS != 'web') {
                        location.href = "/admin/promotion/banner-mob?type=배너";
                    } else {
                        location.href = "/admin/promotion/banner?type=배너";
                    }
                },
                error: function (e) {
                    console.error(e);
                    alert("삭제실패하였습니다. 관리자에게 문의바랍니다.");
                }
            });
        }
    })
    $("#pc-file").on('change', function () {
        var fileInput = document.getElementById("pc-file");
        var fileName = fileInput.value;
        $("#pc-upload-name").val(fileName);

        // 파일 선택 시 미리보기 이미지 업데이트
        updatePreviewImage("pc-file", "pc-preview-image");
        // 여기에 추가: 서버에 업로드하기 전에 이미지를 미리보기 이미지로 표시
        var previewImage = document.getElementById("pc-preview-image");
        previewImage.src = window.URL.createObjectURL(fileInput.files[0]);
    });

    function file_upload(id) {
        var pcFileInput = document.getElementById("pc-file");
        var pcFiles = pcFileInput.files;
        var mobFileInput = document.getElementById("mob-file");
        var mobFiles = mobFileInput.files;
        var uploadPC = pcFiles.length > 0;
        var uploadMob = mobFiles.length > 0;
        
        if (uploadPC) {
            uploadFile(pcFiles[0], "PROMOTION_BANNER", id);
            if (uploadMob) {
                uploadFile(mobFiles[0], "PROMOTION_BANNER_MOBILE", id);
                removePreviousFiles($('#pcFileId').val());
                removePreviousFiles($('#mobFileId').val());
            } else {
                removePreviousFiles($('#pcFileId').val());
            }
        } else if (uploadMob) {
            uploadFile(mobFiles[0], "PROMOTION_BANNER_MOBILE", id);
            console.info("업로드성공");
            removePreviousFiles($('#mobFileId').val());
        }
    }

    function uploadFile(file, fileType, id) {

        var formData = new FormData();
        formData.append("uploadFiles", file);
        formData.append("type", fileType);
        formData.append("parentId", id);

        $.ajax({
            url: "/file/upload",
            type: "POST",
            dataType: "json",
            data: formData,
            processData: false,
            contentType: false,
            async:false,
            success: function (result) {
            },
            error: function (e) {
                console.error(fileType + " 업로드 에러", e);
                alert(fileType + " 업로드 중 에러가 발생하였습니다. 관리자에게 문의하세요.");
            },
        });
    }

    function removePreviousFiles(id) {
        $.ajax({
            url: "/file/remove/" + id,
            async: false,
            type: "DELETE",
            success: function (result) {
            },
            error: function (e) {
                console.error("기존 파일 제거 에러", e);
                alert("기존 파일 제거 중 에러가 발생하였습니다. 관리자에게 문의하세요.");
            },
        });
    }
    
});
</script>
</body>
</html>