<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default-layout}">

<head>
    <title>XP보이스-배너관리</title>
</head>

<body layout:fragment="content">
<div id="warpper" class="adminVer">
	<div class="cont">
        <div class="admin_sec">
            <div class="admin-tit">
                <h4>배너설정</h4>
            </div>
            <div class="admin-table mb20 w100">
                <table class="admin-table_detail" id="data-table">
                    <tbody>
                        <tr>
                            <td class="t_head">
                                제목
                            </td>
                            <td>
                                <span class="m_tit">제목</span>
                                <input type="text" name="title" id="title" placeholder="배너 제목을 입력해주세요.">
                                <input type="hidden" name="type" id="type" value="배너">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                PC용 이미지
                            </td>                           
                            <td>
                                <span class="m_tit">PC용<br />이미지</span>
                                <div class="filebox">
                                    <input type="text" class="upload-name" id="pc-upload-name" placeholder="파일을 첨부해주세요." readonly >
                                    <label for="pc-file">파일찾기</label>
                                    <input type="file" id="pc-file" onchange="file_validation(this)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                모바일용 이미지
                            </td>                           
                            <td>
                                <span class="m_tit">모바일용<br />이미지</span>
                                <div class="filebox">
                                    <input type="text" class="upload-name" id="mob-upload-name" placeholder="파일을 첨부해주세요." readonly  >
                                    <label for="mob-file">파일찾기</label>
                                    <input type="file" id="mob-file" onchange="file_validation(this)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                링크(URL)
                            </td>
                            <td>
                                <span class="m_tit">링크(URL)</span>
                                <input type="text" name="url" id="url" placeholder="url을 입력해주세요.">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                게시기간
                            </td>
                            <td>
                                <span class="m_tit">게시기간</span>
                                <div class="date-input">
                                <input type="date" name="startDate" id="startDate" class="w120p" max="9999-12-31">
                                ~ <input type="date" name="endDate" id="endDate" class="w120p" max="9999-12-31">
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                비고
                            </td>
                            <td>
                                <span class="m_tit">비고</span>
                                <input type="text" name="content" id="content" placeholder="비고를 입력하세요">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                미리보기
                            </td>
                            <td class="bannner_td">
                                <span class="m_tit banner">미리보기</span>
                                <div class="banner_preview">
                                    <img src="" id="pc-preview-image">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="button__box mgT28  pdL20 pdR20">
                <button type="button" class="button__Big button__Navy button w120p" id="saveBtn">  
                    저장
                </button>
                <button type="button" class="button__Big button__White button w120p" onclick="location.href = '/admin/promotion/banner?type=배너'">  
                    닫기
                </button>
            </div>
        </div>
        
    </div>
</div>
<script>
    $("#saveBtn").on("click", function () {
        var title = $("#title").val();
        var pcImage = $("#pc-upload-name").val();
        var mobImage = $("#mob-upload-name").val();
        var startDate = $("#startDate").val();

        // 필수 입력값이 비어 있는지 확인하고, 누락된 부분에 대한 안내 메시지를 표시합니다.
        var errorMessages = [];
        if (!title) {
            errorMessages.push("제목을 입력해주세요.");
        }
        if (!pcImage) {
            errorMessages.push("PC용 이미지를 첨부해주세요.");
        }
        if (!mobImage) {
            errorMessages.push("모바일용 이미지를 첨부해주세요.");
        }
        if (!startDate) {
            errorMessages.push("시작일을 선택해주세요.");
        }

        // 누락된 필수 입력값이 있으면 해당 메시지를 표시하고 저장을 중단합니다.
        if (errorMessages.length > 0) {
            alert(errorMessages.join("\n"));
            return;
        }

        // 게시 기간 유효성 검사: 종료일은 시작일 이후여야 합니다.
        if (startDate >= endDate) {
            alert("게시 기간을 올바르게 설정해주세요.");
            return;
        }
        var currentRow = $('#data-table');
        var rowData = {};
        $('#data-table input,#data-table select,#data-table textarea').each(function () {
            var name = $(this).attr('name'); // input 요소의 name 속성
            var value = $(this).val(); // input 요소의 value 속성
            if (name) {
                rowData[name] = value;
            }
        });
        var jsonData = JSON.stringify(rowData);
        $.ajax({
            url: "/admin/promotion",
            type: "POST",
            dataType: "json",
            data: jsonData,
            async: false,
            contentType: "application/json; charset=UTF-8",
            success: function (result) {
                if(result.status=="SUCCESS"){
                    alert("저장되었습니다.");
                    var id = result.data; // 저장된 데이터의 id
                    file_upload(id);
                    location.href = "/admin/promotion/banner?type=배너";
                    if (currentOS != 'web') {
                        location.href = "/admin/promotion/banner-mob?type=배너";
                    } else {
                        location.href = "/admin/promotion/banner?type=배너";
                    }
                }else{
                    alert(result.message);
                }
            },
            error: function (e) {
                console.error(e);
                alert("저장실패하였습니다. 관리자에게 문의바랍니다.");
            }
        });
    });

    $("#pc-file").on('change', function () {
        var fileName = $("#pc-file").val();
        $("#pc-upload-name").val(fileName);
    });

    $("#mob-file").on('change', function () {
            var fileName = $("#mob-file").val();
            $("#mob-upload-name").val(fileName);
    });

    function file_upload(id) {
        var fileInputs = document.querySelectorAll("input[type='file']"); // 모든 파일 입력 요소 선택

        // FormData 객체 생성
        
        // 각 파일 입력 요소에서 선택된 파일을 FormData에 추가
        for (var i = 0; i < fileInputs.length; i++) {
            var formData = new FormData();
            var fileInput = fileInputs[i];
            var files = fileInput.files;

            if (files.length > 0) {
                var type = "PROMOTION_BANNER"; // 기본 타입 설정
                if (fileInput.id === "mob-file") {
                    type = "PROMOTION_BANNER_MOBILE"; // 모바일 파일 타입 설정
                }

                formData.append("uploadFiles", files[0]);
                formData.append("type", type); // 파일 타입 설정
            }
            // 기타 필요한 데이터 추가 (예: parentId)
            formData.append("parentId", id);

            // 파일 업로드 API 호출
            $.ajax({
                url: "/file/upload",
                type: "POST",
                dataType: "json",
                data: formData,
                async: false,
                processData: false,
                contentType: false,
                success: function (result) {
                    
                },
                error: function (e) {
                    alert("첨부 파일 등록 중 에러가 발생하였습니다. 관리자에게 문의하세요.");
                },
            });
        }
    }
    $("#pc-file").on('change', function () {
        var fileInput = document.getElementById("pc-file");
        var fileName = fileInput.value;
        $("#pc-upload-name").val(fileName);

        // 파일 선택 시 미리보기 이미지 업데이트
        updatePreviewImage("pc-file", "pc-preview-image");
    });
</script>
</body>
</html>