<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default-layout}">

<head>
  <title>XP보이스-팝업관리</title>
</head>

<body layout:fragment="content">
  <div id="warpper" class="adminVer"> 
    <div class="cont">
      <div class="admin_sec">
        <div class="admin-tit">
          <h4>팝업관리</h4>
        </div>
        <div class="admin-table mb20 w100">
          <table class="admin-table_detail" id="data-table">
            <tbody>
              <tr>
                <td class="t_head">
                  제목
                </td>
                <td>
                  <span class="m_tit">제목</span>
                  <input type="text" name="title" id="title" placeholder="팝업 제목을 입력해주세요."
                    th:value="${result != null ? result.title : ''}">
                  <input type="hidden" name="type" id="type" value="팝업">
                  <input type="hidden" name="id" id="id"  th:value="${result != null ? result.id : ''}">
                </td>
              </tr>
              <tr>
                <td class="t_head">
                  팝업이미지
                </td>
                <td>
                  <span class="m_tit">팝업이미지</span>
                  <div class="filebox">
                    <input type="hidden" id="fileId" th:value="${result != null ? result.boardFileInfoFullPathResponse.fileId : ''}">
                    <input type="text" class="upload-name" placeholder="파일을 첨부해주세요." id="pc-upload-name" readonly 
                    th:value="${result != null ? result.boardFileInfoFullPathResponse.fileName : ''}">
                    
                    <label for="file">파일찾기</label>
                    <input type="file" id="file" onchange="file_validation(this)">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="t_head">
                  링크(URL)
                </td>
                <td>
                  <span class="m_tit">링크(URL)</span>
                  <input type="text" name="url" id="url" placeholder="url을 입력해주세요."
                    th:value="${result != null ? result.url : ''}">
                </td>
              </tr>
              <tr>
                <td class="t_head">
                  게시기간
                </td>
                <td>
                  <span class="m_tit">게시기간</span>
                  <div class="date-input">
                  <input type="date" max="9999-12-31" name="startDate" id="startDate" class="w120p" th:value="${result != null ? result.startDate : ''}">
                  ~ <input type="date" max="9999-12-31" name="endDate" id="endDate" class="w120p" th:value="${result != null ? result.endDate : ''}">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="t_head">
                  비고
                </td>
                <td>
                  <span class="m_tit">비고</span>
                  <input type="text" name="content" id="content" placeholder="비고를 입력해주세요"
                    th:value="${result != null ? result.content : ''}">
                </td>
              </tr>
              <tr>
                <td class="t_head">
                  미리보기
                </td>
                <td class="bannner_td">
                  <span class="m_tit banner">미리보기</span>
                  <div class="banner_preview">
                    <img th:src="${result != null ? result.boardFileInfoFullPathResponse.fullPath : ''}" id="pc-preview-image">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="button__box mgT28  pdL20 pdR20">
          <button type="button" class="button__Big button__Navy button w120p" id="saveBtn">
            저장
          </button>
          <button type="button" class="button__Big button__White button w120p" id="deleteBtn">
            삭제
          </button>
        </div>
      </div>

    </div>
  </div>
<script>
  $(document).ready(function () {
    $(".popup-tab").addClass("active");
    $(".admin-tab").addClass("active");
    $("#admin_sub").css('display', 'flex');
    $("#saveBtn").on("click", function () {
      var title = $("#title").val();
      var popupImage = $("#pc-upload-name").val();
      var startDate = $("#startDate").val();
      var endDate = $("#endDate").val();

      var errorMessages = [];
      if (!title) {
        errorMessages.push("제목을 입력해주세요.");
      }
      if (!popupImage) {
        errorMessages.push("팝업 이미지를 첨부해주세요.");
      }
      if (!startDate) {
        errorMessages.push("시작일을 선택해주세요.");
      }
      
      if (errorMessages.length > 0) {
        alert(errorMessages.join("\n"));
        return;
      }

      if (startDate >= endDate) {
        alert("게시 기간을 올바르게 설정해주세요.");
        return;
      }
      var currentRow = $('#data-table');
      var rowData = {};
      var id = currentRow.find("input[name='id']").val();
      var url = "/admin/promotion";
      if(id!=''){
        url = "/admin/promotion/" + id;
      }
      $('#data-table input,#data-table select,#data-table textarea').each(function () {
        var name = $(this).attr('name'); // input 요소의 name 속성
        var value = $(this).val(); // input 요소의 value 속성
        if (name) {
          rowData[name] = value;
        }
      });
      var jsonData = JSON.stringify(rowData);
      $.ajax({
        url: url,
        type: "POST",
        dataType: "json",
        data: jsonData,
        contentType: "application/json; charset=UTF-8",
        success: function (result) {
          if (result.status == 'SUCCESS') {
            if (url == "/admin/promotion") {
              file_upload(result.data);
            } else {
              file_upload(id);
            }
            alert("저장되었습니다.");
            location.reload();
          } else {
            alert(result.message);
          }
        },
        error: function (e) {
          console.error(e);
          alert("저장실패하였습니다. 관리자에게 문의바랍니다.");
        }
      });
    });

    $('#deleteBtn').on('click',function(){
      var id = $('#id').val();
      if (id == '') {
        alert("삭제할 데이터가 없습니다.");
        return;
      };
      if(confirm("삭제하시겠습니까?")){
        $.ajax({
          url: "/admin/promotion/" + id,
          type: "DELETE",
          contentType: "application/json; charset=UTF-8",
          success: function (result) {
            if (result.status == 'SUCCESS') {
              alert("삭제되었습니다.");
              location.reload();
            } else {
              alert(result.message);
            }
          },
          error: function (e) {
            console.error(e);
            alert("삭제실패하였습니다. 관리자에게 문의바랍니다.");
          }
        });
      }
    })
  });

  $("#file").on('change', function () {
    var fileName = $("#file").val();
    $(".upload-name").val(fileName);
  });


  $("#file").on('change', function () {
  var fileInput = document.getElementById("file");
  var fileName = fileInput.value;
      $("#pc-upload-name").val(fileName);

      // 파일 선택 시 미리보기 이미지 업데이트
      updatePreviewImage("file", "pc-preview-image");
  });


  function file_upload(id) {
    var fileInput = document.querySelector("input[type='file']"); // 첫 번째 파일 입력 요소 선택
    var imgFiles = fileInput.files;
    var fileid = $('#fileId').val()

    var uploadImage = imgFiles.length > 0;
    if (uploadImage) {
      uploadFile(imgFiles[0], "PROMOTION", id);
        if (fileid != "") {
          removePreviousFiles(fileid);
        }
    }
  }


  function uploadFile(file, fileType, id) {
        var formData = new FormData();
        formData.append("uploadFiles", file);
        formData.append("type", fileType);
        formData.append("parentId", id);

        // 파일 업로드 API 호출
        $.ajax({
            url: "/file/upload",
            type: "POST",
            dataType: "json",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
            },
            error: function (e) {
                alert("첨부 파일 등록 중 에러가 발생하였습니다. 관리자에게 문의하세요.");
            },
    });
}
  function removePreviousFiles(id) {
    $.ajax({
      url: "/file/remove/" + id,
      type: "DELETE",
      success: function (result) {
      },
      error: function (e) {
        console.error("기존 파일 제거 에러", e);
        alert("기존 파일 제거 중 에러가 발생하였습니다. 관리자에게 문의하세요.");
      },
    });
  }
</script>
</body>

</html>