<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<head>
    <title>관리자-설치단지현황</title>
</head>

<body layout:fragment="content">

<div id="warpper">
    <div class="cont">
        <div class="admin_sec">
            <div class="admin-tit">
                <h4>설치단지 현황</h4>
                <div class="button__box mgLAuto">
                    <button type="button" class="button__Big button__Navy button w100p">
                        새로고침
                    </button>
                    <div class="admin-search">
                        <input type="search" class="admin-search__input" title="검색입력" id="searchInput"
                               name="searchInput" placeholder="단지명 혹은 단지코드를 입력해주세요.">
                        <button class="admin-search__btn" type="submit" title="검색">검색</button>
                    </div>
                </div>
            </div>
            <div class="admin-list_m">
                <ul>
                    <li th:each="dto : ${result.dtoList}" th:onclick="detail_page([[${dto.id}]])">
                        <a>
                            <span class="tag" th:if="${dto.processingStatus}"
                                  th:classappend="${#strings.equals(dto.processingStatus, '접수')} ?
                                'check': (${#strings.equals(dto.processingStatus, '설치완료')} ?
                                'complete')">[[${dto.processingStatus}]]</span>
                            <span class="dangi_name">
                                [[${dto.aptName}]]
                            </span>
                            <span class="date">
                                신청일 <span>[[${dto.applyDate}]]</span>
                            </span>
                            <span class="cell_num">
                                [[${dto.contact}]]
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-box">
                <div class="page-box_list">
                    <div class="prev_btn" th:if="${result.prev}">
                        <a th:href="@{/admin/voice-info/install-mob(page= ${result.start -1},
                                                        type=${pageRequestDTO.type} ,
                                                        keyword = ${pageRequestDTO.keyword},
                                                        aptCd = ${param.aptCd},
                                                        aptName = ${param.aptName} ) }" tabindex="-1">
                            <span class="caption">이전</span>
                        </a>
                    </div>

                    <div class="page_num">
                        <div th:each="page: ${result.pageList}">
                            <a th:class=" 'page-item ' + ${result.page == page?'active':''} " th:href="@{/admin/voice-info/install-mob(page = ${page} ,
                                                    type=${pageRequestDTO.type} ,
                                                    keyword = ${pageRequestDTO.keyword},
                                                    aptCd = ${param.aptCd},
                                                    aptName = ${param.aptName}  )}">[[${page}]]</a>
                        </div>
                    </div>
                    <div class="next_btn" th:if="${result.next}">
                        <a th:href="@{/admin/voice-info/install-mob(page= ${result.end + 1},
                                                        type=${pageRequestDTO.type} ,
                                                        keyword = ${pageRequestDTO.keyword},
                                                        aptCd = ${param.aptCd},
                                                        aptName = ${param.aptName} ) }"><span
                                class="caption">다음</span></a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>

    $(document).ready(function () {
        $(".voice-install-mob-tab").addClass("active");
        $(window).scroll(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 1000) {
                    $(this).addClass("slide");
                    $('.header').addClass("fixed");
                } else if (winTop == 0) {
                    $(this).removeClass("slide");
                    $('.header').removeClass("fixed");
                }
                $(".main_txt").click(function () {

                });
            });

        });
        $('#searchInput').keyup(function (e) {
            if (e.keyCode == 13) {
                $.ajax({
                    type: "GET",
                    url: "/admin/voice-info/install-mob?aptCd=" + $('#searchInput').val() + "&aptName=" + $('#searchInput').val()
                        + "&installCompanySearch=" + $('#searchInput').val()
                    ,
                    // data: form, // api 호출을 위한 요청 변수가 필요하다면 사용
                    dataType: "text"
                })
                    .done(function (result) {
                        $("#searchVal").val($('#searchInput').val());
                        $("#warpper").replaceWith(result);
                        $("#searchInput").val($('#searchVal').val());
                    })
                    .fail(function (jqXHR) {
                        console.error(jqXHR);
                    })
            }
        })
        $('#searchBtn').click(function () {
            location.href = "/admin/voice-info/install-mob";
        })

    });

    function detail_page(id) {
        window.open('/admin/voice-info/install-detail/' + id, '_blank');
    }

</script>

</body>
</html>