<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default-layout}">

<head>
    <title>설치단지현황 상세</title>
</head>

<body layout:fragment="content">

<div id="warpper" class="adminVer">
	<div class="cont">
        <div class="admin_sec">
            <div class="admin-tit">
                <h4>상세정보</h4>
            </div>
            <div class="admin-table mb20 w100">
                <table class="admin-table_detail" id="data-table">
                    <colgroup>
                        <col width="112">
                        <col width="*">
                        <col width="112">
                        <col width="*">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="t_head">
                                신청일
                            </td>
                            <td>
                                <input type="hidden" name="id" th:value="${result.id}">
                                <span class="m_tit">신청일</span>
                                <span>[[${result.applyDate}]]</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                설치업체
                            </td>
                            <td>
                                <span>[[${result.installCompany}]]</span>
                            </td>
                            <td class="t_head">
                                지역
                            </td>
                            <td>
                                <span class="m_tit">지역</span>
                                <div class="selectbox">
                                    <select id="regionKind" name="regionKind"  th:disabled="${!#strings.equals('[ADMIN]',#authentication.authorities)}">
                                        <option th:selected="${#strings.equals(result.regionKind, '수도권')}">수도권</option>
                                        <option th:selected="${#strings.equals(result.regionKind, '충청도')}">충청도</option>
                                        <option th:selected="${#strings.equals(result.regionKind, '강원도')}">강원도</option>
                                        <option th:selected="${#strings.equals(result.regionKind, '전북')}">전북</option>
                                        <option th:selected="${#strings.equals(result.regionKind, '전남')}">전남</option>
                                        <option th:selected="${#strings.equals(result.regionKind, '경북')}">경북</option>
                                        <option th:selected="${#strings.equals(result.regionKind, '경남')}">경남</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                단지코드
                            </td>                           
                            <td>
                                <span class="m_tit">단지코드</span>
                                <input type="text" name="aptCd" maxlength="5" oninput="validateNumberInput(event)" th:value="${result.aptCd}"
                                    th:readonly="${!#strings.equals('[ADMIN]',#authentication.authorities)}">
                            </td>
                            <td class="t_head">
                                단지명(건물명)
                            </td>
                            <td>
                                <span class="m_tit">단지명<br>(건물명)</span>
                                    <input type="text" name="aptName" th:value="${result.aptName}" maxlength="20"
                                        th:readonly="${!#strings.equals('[ADMIN]',#authentication.authorities)}">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                연락처
                            </td>
                            <td colspan="3">
                                <span class="m_tit">연락처</span>
                                <input type="tel" name="contact" maxlength="13" oninput="validateNumberInput(event)" onkeyup="inputPhoneNumber(event)"
                                    th:value="${result.contact}" th:readonly="${!#strings.equals('[ADMIN]',#authentication.authorities)}">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                주소
                            </td>
                            <td colspan="3">
                                <span class="m_tit">주소</span>
                                <input type="input"  name="address" th:value="${result.address}"  th:readonly="${!#strings.equals('[ADMIN]',#authentication.authorities)}" maxlength="30">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head h100p">
                                방송장비(정보)
                            </td>
                            <td colspan="3" class="h100p">
                                <span class="m_tit">방송장비<br>(정보)</span>
                                <textarea name="broadcastEquipment" th:value="${result.broadcastEquipment}" th:text="${result.broadcastEquipment}"
                                    th:readonly="${!#strings.equals('[ADMIN]',#authentication.authorities)}" maxlength="200"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                단지 방송장비
                            </td>
                            <td>
                                <span class="m_tit">단지 방송장비</span>
                                <div class="button__box">
                                    <button type="button" class="button__Small button__darkNavy button w60p" id="btn_attach_eq" 
                                    th:onclick="open_fileLayer([[${result.id}]],'INFO_EQUIPMENT',[[${result.attachBroadcastEqCount}]])"
                                    sec:authorize="hasAuthority('ADMIN')">  
                                        첨부
                                    </button>
                                    <button type="button" class="button__Small button__White button w60p"
                                    th:onclick="open_confirmLayer([[${result.id}]],'INFO_EQUIPMENT')"
                                    id="btn_confirm_eq"> 
                                        확인
                                    </button>
                                </div>
                            </td>
                            <td class="t_head">
                                설치예정일
                            </td>
                            <td>
                                <span class="m_tit">설치예정일</span>
                                <input type="date"  name="installationScheduledDate" th:value="${result.installationScheduledDate}" max="9999-12-31">
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                접수자(확인자)
                            </td>
                            <td>
                                <span class="m_tit">접수자<br>(확인자)</span>
                                <input type="text"  name="receiver" th:value="${result.receiver}" maxlength="5">
                            </td>
                            <td class="t_head">
                                설치확인서
                            </td>
                            <td>
                                <span class="m_tit">설치확인서</span>
                                <div class="button__box">
                                    <button type="button" class="button__Small button__darkNavy button w60p" id="btn_attach_install" name="btn_attach_install"
                                    th:onclick="open_fileLayer([[${result.id}]],'INFO_INSTALLATION',[[${result.attachInstallConfirmCount}]])">  
                                        첨부
                                    </button>
                                    <button type="button" class="button__Small button__White button w60p"
                                    th:onclick="open_confirmLayer([[${result.id}]],'INFO_INSTALLATION')"
                                    id="btn_confirm_install" name="btn_confirm_install">  
                                        확인
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t_head">
                                처리여부
                            </td>
                            <td colspan="3">
                                <span class="m_tit">처리여부</span>
                                <div class="selectbox">
                                    <select id="processingStatus" name="processingStatus">
                                        <option th:selected="${#strings.equals(result.processingStatus, '대기')}">대기</option>
                                        <option th:selected="${#strings.equals(result.processingStatus, '접수')}">접수</option>
                                        <option th:selected="${#strings.equals(result.processingStatus, '설치완료')}">설치완료</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button__box mgT28 pdL20 pdR20">
                <button type="button" class="button__Big button__Navy button w50" id="saveBtn" name="saveBtn">
                    저장
                </button>
                <button type="button" class="button__Big button__White button w50" onclick="self.close()">
                    닫기
                </button>
            </div>
        </div>
    </div>
</div>
<div class="layer-bg" style="display:none" id="reg_layer" name="reg_layer">
    <input type="hidden" name="type" id="type" value="">
    <input type="hidden" name="parentId" id="parentId">
    <input type="hidden" name="attachCount" id="attachCount">
    <div class="layer-cont w320p">
        <button type="button" name="close_btn" class="close_btn">
            닫기
        </button>
        <div class="layer-tit">
            <h4>첨부파일 등록</h4>
            <span>단지 방송장비 / 설치 확인서</span>
        </div>
        <form id="uploadForm" name="uploadForm" method="post" enctype="multipart/form-data" onsubmit="return false;">
        </form>
        <div class="file-upload mgB16">
            <label class="file-upload_btn" for="file"><img src="/images/upload_ico.svg">파일 첨부</label>
            <input type="file" id="file" class="file-upload_file" name="uploadFiles" onchange="addFile(this)">
        </div>
        <ul class="file_list">

        </ul>
        </form>
        <div class="button__box">
            <button class="button button__Basic button__darkNavy w50" id="saveButton" name="saveButton">저장</button>
            <button class="button button__Basic button__White w50" name="close_btn">닫기</button>
        </div>
    </div>

</div>
<div class="layer-bg" style="display:none" id="confirm_layer" name="confirm_layer">
    <div class="layer-cont">
        <button type="button" class="close_btn" name="close_btn" style="cursor: pointer">
            닫기
        </button>
        <div class="layer-tit">
            <h4>첨부파일 확인</h4>
            <span>단지 방송장비 / 설치 확인서</span>
        </div>

        <div class="file_view" id="eq_view" name="eq_view">
        </div>

        <div class="button__box">
            <button class="button button__Basic button__White w100" name="close_btn">닫기</button>
        </div>
    </div>
</div>

<script>
    // 첨부파일사용시 필요한 변수들
    var fileNo = 0;
    var filesArr = new Array();
    $(document).ready(function () {
        if(currentOS=='web'){
            $(".voice-install-tab").addClass("active");
        }else{
            $(".voice-install-mob-tab").addClass("active");
        }
        $(window).scroll(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 1000) {
                    $(this).addClass("slide");
                    $('.header').addClass("fixed");
                } else if (winTop == 0) {
                    $(this).removeClass("slide");
                    $('.header').removeClass("fixed");
                }
                $(".main_txt").click(function () {

                });
            });
        });

        $("#saveBtn").on("click", function () {
            var currentRow = $('#data-table');
            var rowData = {};
            var id = currentRow.find("input[name='id']").val();
            $('#data-table input,#data-table select,#data-table textarea').each(function () {
                var name = $(this).attr('name'); // input 요소의 name 속성
                var value = $(this).val(); // input 요소의 value 속성
                if (name) {
                    rowData[name] = value;
                }
            });
            var jsonData = JSON.stringify(rowData);
            $.ajax({
                url: "/admin/voice-info/install/" + id,
                type: "POST",
                dataType: "json",
                data: jsonData,
                contentType: "application/json; charset=UTF-8",
                success: function (result) {
                    if (result.status == 'SUCCESS') {
                        alert("저장되었습니다.");
                        opener.location.reload();
                    } else {
                        alert(result.message);
                    }
                    
                },
                error: function (e) {
                    console.error(e);
                    alert("저장실패하였습니다. 관리자에게 문의바랍니다.");
                }
            });
        });
        // 첨부파일 저장 버튼 클릭 시 첨부파일 저장
        $('#saveButton').click(function () {
            var filteredFilesArr = filesArr.filter(function (file) {
                return file.is_delete !== true;
            });
            if (($('#attachCount').val() * 1 + filteredFilesArr.length) > 5) {
                alert("이미 5개이상의 첨부파일이 첨부되어있거나, 파일첨부 총 갯수가 5개를 초과합니다.");
                return;
            }
            if(filteredFilesArr.length == 0){
                alert("첨부파일이 선택되지않았습니다. 첨부파일을 선택한 후 저장해주세요.");
                return;
            }
            // 폼데이터 담기
            var form = document.querySelector("form");
            var formData = new FormData(form);
            for (var i = 0; i < filteredFilesArr.length; i++) {
                // 삭제되지 않은 파일만 폼데이터에 담기
                formData.append("uploadFiles", filteredFilesArr[i]);
            }
            formData.append("parentId", $('#parentId').val());
            formData.append("type", $('#type').val());
            // FormData의 key 확인
            $.ajax({
                url: "/file/upload",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false, 
                contentType: false, 
                success: function (result) {
                    alert("총" + filteredFilesArr.length + "개 첨부파일 등록이 완료되었습니다.");
                    filesArr = new Array();
                    $('.load_bg').hide();
                },
                error: function (e) {
                    alert("첨부파일 등록중 에러가발생하였습니다. 관리자에게 문의하세요");
                    $('.load_bg').hide();
                },
                beforeSend:function(e){
                    $('.load_bg').show();
                }
            });
        })
        
        $('#btn_attach_install').click(function () {
            $('#reg_layer').css('display', 'flex');
        });

        $('#btn_confirm_install').click(function () {
            $('#confirm_layer').css('display', 'flex');
        });

        $('.close_btn').click(function () {
            $('.layer-bg').css('display', 'none');
        })

        $('#btn_attach_eq').click(function () {
            $('#reg_layer').css('display', 'flex');
        });

        $('#btn_confirm_eq').click(function () {
            $('#confirm_layer').css('display', 'flex');
        });

        $('button[name="close_btn"]').click(function () {
            $('.layer-bg').css('display', 'none');
        })
    });

    function open_fileLayer(id,type,cnt) {
        $('#reg_layer').css('display', 'flex');
        $('#parentId').val(id);
        $('#type').val(type);
        $('#attachCount').val(cnt);
        $('.file_list').empty();
        $('input[type="file"]').val(null);
    }

    // 첨부파일 확인 후 img태그에 첨부
    function open_confirmLayer(id,type) {
        $('#type').val(type);
        var rowData = {};
        var fileViewDiv = $("#eq_view");
        fileViewDiv.empty();
        rowData.boardFileStatus = $('#type').val();
        var jsonData = JSON.stringify(rowData);
        $('#confirm_layer').css('display', 'flex');
        $.ajax({
            url: "/file/" + id + "?boardFileStatus=" + $('#type').val(),
            method: "GET",
            dataType: "json",
            contentType: "application/json; charset=UTF-8",
            success: function (result) {
                result.forEach(function (imagePath) {
                     var container = $("<div>"); // 이미지와 관련된 엘리먼트를 감싸는 div 엘리먼트 생성
                    container.addClass("image-container"); // 필요에 따라 클래스를 추가할 수 있습니다.

                    var imgElement = $("<img>");
                    imgElement.attr("src", imagePath.fullPath);
                    container.append(imgElement);

                    var inputElement = $("<input>");
                    inputElement.attr("type", "hidden");
                    inputElement.attr("id", "imageId"); // id 설정
                    inputElement.val(imagePath.fileId); // 값을 설정
                    container.append(inputElement);

                    var aElement = $("<a>");
                    aElement.attr("href", "#");
                    aElement.text("삭제");
                    aElement.addClass("del_btn");
                    aElement.on("click", function () {
                        delete_img(imagePath.fileId);
                        // 클릭 시 이미지 ID 알림
                    });
                    container.append(aElement);

                    fileViewDiv.append(container); // container를 fileViewDiv에 추가
                });
            },
            error: function (e) {
                console.error(e);
            }
        });

    }
    function delete_img(fileId) {
            var fileViewDiv = $(".file_view");
            var containerToRemove = fileViewDiv.find("div.image-container input#imageId[value='" + fileId + "']").closest("div.image-container");
            $.ajax({
                url: "/file/remove/" + fileId,
                type: "DELETE",
                dataType: "json",
                success: function (result) {
                    alert("삭제되었습니다.");
                    containerToRemove.remove();
                },
                error: function (e) {
                    alert("첨부파일 등록중 에러가발생하였습니다. 관리자에게 문의하세요");
                },
                beforeSend: function (e) {
                }
            });
        }
    function progressBar(per) {
            if (per > 55) {
                $(".progressPer").css("color", "#000");
            }
            per = per.toFixed(1);
            $(".progressPer").text(per + " %");
            $(".progressNow").css("width", "calc(" + per + "% - 20px)");
        }


</script>
</body>
</html>