<!DOCTYPE html>
<html
        lagn="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/default-layout}">
<head>
    <title>XP보이스-주요기능</title>
</head>
<body layout:fragment="content">

<!-- <div id="warpper" class="adminVer" > -->
<div id="warpper">
    <div class="ad_fixed_btn">
        <a th:href="@{/main/voice-request}">
            <img alt="상담신청 아이콘" src="/images/write_ico.svg"/>
            상담신청
        </a>
    </div>
    <div class="sub-box bg01">
        <div class="sub-box mask">
            <div class="sub-box_tit">
                <h3>
                    주요기능
                </h3>
                <span>XP보이스의 모든 기능</span>
            </div>
        </div>
    </div>
    <div class="cont">
        <section class="cont_bgType white slide">
            <div class="function-cont right">
                <div class="function-cont__img">
                    <img alt="신규등록" src="/images/function_img/function_01.png" onclick="window.open(this.src,'','width=800,height=600');" style="cursor: pointer;">
                </div>
                <div class="function-cont__info">
                    <b class="info_tit txt_highlight">방송등록(신규)</b>
                    <p class="info_txt">
                        Xp보이스에서 제공하는 230여개 방송 샘플과 다양한 음성을
                        활용하여 수준 높은 방송을 만들어보세요.
                    </p>
                    <div class="info_comment">
                        <p>
                            다양한 방송 샘플과 음성을 가지고 나만의 방송 스타일을
                            만들어 볼 수 있으며 방송 자료를 그룹화하여 체계적으로
                            관리할 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="cont_bgType light_blue slide2">
            <div class="function-cont left">
                <div class="function-cont__img">
                    <img alt="예약방송" src="/images/function_img/function_02.png" onclick="window.open(this.src,'','width=800,height=600');" style="cursor: pointer;">
                </div>
                <div class="function-cont__info">
                    <b class="info_tit txt_highlight">예약방송</b>
                    <p class="info_txt">
                        방송 날짜와 시간에 대한 제약 없이 방송을
                        만들어 활용해 보세요.
                    </p>
                    <div class="info_comment">
                        <p>
                            일반예약, 정기예약, 기간예약방송 기능을 가지고 맞춤형
                            예약 방송을 만들어 효율적인 방송 업무를 할 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="cont_bgType white slideanim">
            <div class="function-cont right">
                <div class="function-cont__img">
                    <img alt="방송이력" src="/images/function_img/function_03.png" onclick="window.open(this.src,'','width=800,height=600');" style="cursor: pointer;">
                </div>
                <div class="function-cont__info">
                    <b class="info_tit txt_highlight">방송이력</b>
                    <p class="info_txt">
                        특정 PC에서만 확인 가능했던 방송 이력을 이제는
                        인터넷 환경이 지원되는 어느 PC에서든 확인하실 수 있습니다.
                    </p>
                    <div class="info_comment">
                        <p>
                            과거 방송했던 이력 및 내용 등을 열람할 수 있습니다.
                        </p>
                        <p>
                            아파트아이 설치 안내문 요청시 전달 가능합니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="cont_bgType light_blue slideanim">
            <div class="function-cont left">
                <div class="function-cont__img">
                    <img alt="방송일지" src="/images/function_img/function_04-2.png" onclick="window.open(this.src,'','width=800,height=600');" style="cursor: pointer;">
                </div>
                <div class="function-cont__info">
                    <b class="info_tit txt_highlight">방송일지</b>
                    <p class="info_txt">
                        안내방송 나간 내용 그대로 어느 PC에서나
                        방송 일지를 출력 및 보관할 수 있습니다.
                    </p>
                    <div class="info_comment">
                        <p>
                            방송 원고 – 결재용, 문서보관용으로 활용가능합니다.
                        </p>
                        <p>
                            한글, 워드, 엑셀 파일 저장 가능합니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="cont_bgType white slideanim">
            <div class="function-cont right">
                <div class="function-cont__img">
                    <img alt="자주하는 방송" src="/images/function_img/function_05.png" onclick="window.open(this.src,'','width=800,height=600');" style="cursor: pointer;">
                </div>
                <div class="function-cont__info">
                    <b class="info_tit txt_highlight">자주하는 방송</b>
                    <p class="info_txt">
                        방송 횟수가 많거나 수시로 방송하는 자료를 별도로
                        관리하는 기능입니다.
                    </p>
                    <div class="info_comment">
                        <p>
                            모든 사용자가 방송 자료를 공유하고 방송하는 과정을
                            단축하여 방송 준비 시간을 효율적으로 관리할 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="cont_bgType light_blue slideanim">
            <div class="function-cont left">
                <div class="function-cont__img">
                    <img alt="음악방송" src="/images/function_img/function_06.png" onclick="window.open(this.src,'','width=800,height=600');" style="cursor: pointer;">
                </div>
                <div class="function-cont__info">
                    <b class="info_tit txt_highlight">음악방송</b>
                    <p class="info_txt">
                        지상(지하) 주차장이나 산책로 등에 음악방송을 송출하여
                        삶의 질을 높여보세요.
                    </p>
                    <div class="info_comment">
                        <p>
                            다양한 장르의 음악을 요일별로 구분하여 방송을
                            할 수 있으며 방송담당자의 자유로운 구성으로
                            다양한 운영이 가능합니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="cont_bgType white slideanim">
            <div class="function-cont right">
                <div class="function-cont__img">
                    <img alt="문자 방송(모바일)" src="/images/function_img/function_07.png" onclick="window.open(this.src,'','width=800,height=600');" style="cursor: pointer;">
                </div>
                <div class="function-cont__info">
                    <b class="info_tit txt_highlight">문자 방송(모바일)</b>
                    <p class="info_txt">
                        집에서만 들어야 했던 방송을 외부 활동 중에도 실시간으로
                        확인할 수 있으며 방송에 대한 전달력도 향상되어 중요한 내용을
                        전달할 때에도 유용하게 활용하실 수 있습니다.
                    </p>
                    <div class="info_comment">
                        <p>
                            잦은 방송으로 입주민들의 불편함을 줄이고, 입주민들이 실시간으로 간편하게 스마트폰을 통해 방송 내용을
                            확인 하실 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>

    $(document).ready(function () {
        $(".function-tab").addClass("active");
        $(window).scroll(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 1000) {
                    $(this).addClass("slide");
                    $('.header').addClass("fixed");
                } else if (winTop == 0) {
                    $(this).removeClass("slide");
                    $('.header').removeClass("fixed");
                }
                $(".main_txt").click(function () {

                });
            });

        });

    });


</script>
</body>
</html>